@import '~normalize.css/normalize.css';
@import '~sass-mediaqueries/media-queries';

@import './vars';

body {
  font-family: Arial, Helvetica, sans-serif;

  .banner-menu {
    > .company-banner {
      background-image: url('/assets/pillar-logo_2017-07-18/pillar-logo@3x.png');
      height: $pillar_logo_scaled_height + $extra_height;
      width: 100%;

      background-position: center center; 

      background-size: $pillar_logo_scaled_width $pillar_logo_scaled_height;
      background-repeat: no-repeat;

      border-bottom: 1px solid $pillar_blue;
    }
  }
}
