@import '~normalize.css/normalize.css';
@import '~sass-mediaqueries/media-queries';

@import './vars';
@import './fonts';
@import './animations';

body {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 200;

  .banner-menu {
    > .company-banner {
      background-image: url('/assets/pillar-logo_2017-07-18/pillar-logo@3x.png');
      height: $pillar_logo_scaled_height + $extra_height;
      width: 100%;

      background-position: center center; 

      background-size: $pillar_logo_scaled_width $pillar_logo_scaled_height;
      background-repeat: no-repeat;

      border-bottom: 1px solid transparentize(#4f4c4d, 0.45);
      cursor: pointer;
    }

    > .company-menu {
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        > li {
          display: inline-block;
          text-align: center;
          padding: 20px 0.35rem 7px;
          margin-bottom: 10px;
          font-weight: 200;
          cursor: pointer;
          
          &:first-child {
            font-weight: 700;
            border-bottom: 3px solid #8dc63f;
          }
        }
      }
    }

    > .page-banner {
      background-image: url('/assets/pillar-banner_2017-07-05/pillar-banner@3x.png'), url('/assets/car-banner_2017-07-05/car-banner@3x.png'), url('/assets/oh-banner_2017-07-05/oh-banner@3x.png');
      height: $page_banner_height_mobile;
      width: 100%;

      background-size: $page_banner_width_mobile $page_banner_height_mobile;
      background-repeat: no-repeat;

      background-position: 0 0, $page_banner_width_mobile 0, $page_banner_width_mobile*2 0;

      @include transitionize-property(background-position-x);
      @include transitionize-duration(1s);

      &[data-frame-name='frame-2'] {
        background-position-x: -$page_banner_width_mobile, 0, $page_banner_width_mobile;
      }

      &[data-frame-name='frame-3'] {
        background-position-x: -$page_banner_width_mobile*2, -$page_banner_width_mobile, 0;
      }

      > .small-quote, > .large-quote {
        color: #fff;
        display: block;
        position: relative;
        left: 8px;
        width: 325px;
      }

      > .small-quote {
        top: 90px;
      }

      > .large-quote {
        font-family: 'Arial Black', 'Raleway-Bold';
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.75rem;
        top: 95px;
        width: 98%;
      }
    }
  }

  .shoutout-card {
    text-align: center;
    padding: 75px 0;

    > .first-line {
      display: inline-block;
      font-size: 1.1rem;
      width: 90%;
    }

    > .noticeable-one-liner {
      width: 100%;
      display: inline-block;
      color: $bold_blue;
      font-size: 1.4rem;
      font-family: 'Arial Black';
      text-transform: uppercase;
      margin: 5px 0 30px;
    }

    > .elevator-pitch {
      width: 90%;
      line-height: 1.5em;
      display: inline-block;
      > strong {
        font-weight: 500;
      }
    }
  }

  .quick-card {
    text-align: center;
    padding: 40px 0;

    > img {
      width: 100%;
      // box-shadow: 0 0 13px 3px rgba(0, 0, 0, 0.15);
    }

    > .block-of-quotes {
      text-align: left; 
      padding: 10px 24px 0 24px;

      > .interrogative-quote {
        display: block;
        font-weight: bold;
        padding: 0 0 6px 0;
      }

      > .eye-catcher {
        display: block;
        padding: 6px 0 30px 0;
        text-transform: uppercase;
        font-family: 'Arial Black';
        font-weight: bold;
        font-size: 1.2rem;
      }

      > .blurb {
        display: block;
        line-height: 1.5em;
      }
    }

    &[data-direction-mode='right'] {
      > .block-of-quotes {
        text-align: right; 
      }
    }
  }

  .footer {
    background-color: #eaeaea;
    padding: 12px 0 35px;

    > .site-map-and-social-links {
      text-align: center;

      > .site-map {
        font-size: 0.8rem;
        font-weight: bolder;
        margin: 0;
        padding: 0 0 20px 0;
        display: inline-block;
        vertical-align: top;
        list-style: none;
        text-align: left;

        > li {
          padding: 5px 0;
        }

        &:nth-child(1) {
          width: 33%;
          padding-left: 15px;
        }
        &:nth-child(2) {width: 28%;}
        &:nth-child(3) {
          width: 19%;
          padding-right: 5px;
        }
      }

      > .social-links {
        margin: 0;
        padding: 0;
         
        > li {
          height: 32px;
          width: 32px;
          border-radius: (32px/2);
          margin: 0 3px;
          display: inline-block;
          background-color: transparentize(rgb(105,105,105), 0.85);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 20px 20px;
          
          // Social icon svg source: https://codepen.io/ruandre/pen/howFi
          &.to-facebook {
            background-image: url('../../assets/social/facebook.svg');
          }

          &.to-instagram {
            background-image: url('../../assets/social/instagram.svg');
          }

          &.to-linkedin {
            background-image: url('../../assets/social/linkedin.svg');
          }

          &.to-twitter {
            background-image: url('../../assets/social/twitter.svg');
          }

          &.to-youtube {
            background-image: url('../../assets/social/youtube.svg');
          }
        }
      }

      > .copyright {
        display: block;
        font-size: 0.65rem;
        margin-top: 10px;
      }
    }
  }
}
