.shoutout-card {
  text-align: center;
  padding: 75px 0;

  > .first-line {
    display: inline-block;
    font-size: 1.1rem;
    width: 90%;
  }
  
  > .noticeable-one-liner {
    width: 100%;
    display: inline-block;
    color: $bold_blue;
    font-size: 1.4rem;
    font-family: 'Arial Black';
    text-transform: uppercase;
    margin: 5px 0 30px;
  }

  > .elevator-pitch {
    width: 90%;
    line-height: 1.5em;
    display: inline-block;
    > strong {
      font-weight: 500;
    }
  }
}
