/* Scaling values */
$mobile: 3;
$mobile_small: 4;


/* Colors */
$pillar_blue: transparentize(#043285, .65);
$bold_blue: transparentize(#0846a0, .1);

/* Faux gutter values */
$extra_height: 20px;

/* "Pillar" logo dimensions */
$pillar_logo_height: 117px;
$pillar_logo_width: 288px;
$pillar_logo_scaled_height: $pillar_logo_height / $mobile;
$pillar_logo_scaled_width: $pillar_logo_width / $mobile;

/* Page banner dimensions */
$page_banner_height: 1440px;
$page_banner_width: 3600px;
$page_banner_height_mobile: $page_banner_height / $mobile_small;
$page_banner_width_mobile: $page_banner_width / $mobile_small;
