/* Colors */
$pillar_blue: transparentize(#043285, 0.65);

/* Faux gutter values */
$extra_height: 40px;

/* "Pillar" logo dimensions */
$pillar_logo_height: 117px;
$pillar_logo_width: 288px;
$pillar_logo_scaled_height: $pillar_logo_height / 3;
$pillar_logo_scaled_width: $pillar_logo_width / 3;
